//header
@use '../util/index' as *;

//トップに戻るボタン
.toTop__link {
  position: fixed;
  bottom: 3em;
  right: 4em;
  display: inline-block;
  width: 48px;
  height: 48px;
  color: #fff;
  text-align: center;
  background-color: $mainColor;
  border: 1px solid #fff;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.5s ease, opacity 0.5s ease;
  z-index: 10;
  @include sp {
    bottom: 1em;
    right: 1em;
  }
}
.toTop__link.fix {
  transform: translateY(0);
  opacity: .6;
}

/* ホバー可能な場合 */
@media (hover: hover) {
  .toTop__link:hover,
  .toTop__link.active {
    transform: translateY(-16px);
    opacity: 1;
  }
}

/* ホバー不可な場合 */
@media (hover: none) {
  .toTop__link.active {
    transform: translateY(-16px);
    opacity: 1;
  }
}


.toTop__link >i {
  line-height: 44px;
}

.footer__upper {
  @include gradientBlue(90deg);
}
.footer__under {
  background-color: #ededed;
}
.footer__inner {
  margin: 0 auto;
  padding: 8px;
  max-width: 1440px;
}

.footer__contentWrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.footer__logo > img {
  width: 190px;
  @include sp {
    width: 130px;
  }
}
.footer__snsList {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
.footer__snsLink > i {
  font-size: 2.4rem;
  color: #fff;
}


.footer__copyright {
  font-family: "Open Sans";
  text-align: center;
  @include sp {
    font-size: 1.2rem;
  }
}