//header
@use '../util/index' as *;

.header {
  @include gradientBlue;
  animation: appear 1s ease;
}
@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.header.fix {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  animation: slideIn .5s ease;
}
@keyframes slideIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}



.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 12px 16px;
  @include sp {
    padding: 8px 16px;
  }
}


.header__siteLink > img {
  width: 190px;
  height: auto;
  @include sp {
    position: relative;
    width: 160px;
    z-index: 20;
  }
}

.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 72px;
  padding: 6px 24px;
  background-color: #fff;
  border-radius: 28px;
  @include sp {
    display: none;
  }
}

//sp-menu
.header__sp-menuBtn {
  display: none;
  @include sp {
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    z-index: 20;
  }
}
.header__sp-menuBar {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #fff;
  transition: transform .5s ease-in-out;
}
.header__sp-menuBar:nth-child(1) {
  width: 70%;
  transform: translateY(-8px);
}
.header__sp-menuBar:nth-child(2) {
  transform: translateY(8px);
}



.header__menuL-list {
  display: flex;
  gap: 48px;
}
.header__menuLink {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: $mainColor;
}
.header__menuLink::after {
  position: absolute;
  top: 50%;
  font: var(--fa-font-solid);
  transform: translateY(-44%);
  transition: transform .5s ease;
}
.header__menuLink > span {
  display: inline-block;
  transition: transform .5s ease;
}
.header__menuLink:hover::after {
  transition-delay: .3s;
}

.header__menuLink--arrowR::after {
  right: -1em;
  content: "\f054";
}
.header__menuLink--arrowR:hover::after {
  transform: translate(4px, -44%);
}
.header__menuLink--arrowR:hover > span {
  transform: scale(1.1) translateX(4px);
}

.header__menuLink--arrowB::after {
  right: calc(-1em - 8px);
  content: "\f078";
}
.header__menuLink--arrowB:hover::after {
  transform: translate(0, -20%);
}
.header__menuLink--arrowB:hover > span {
  transform: scale(1.1) translateY(4px);
}

.header__menuR {
  position: relative;
  padding: 6.5px 40px 6.5px 20px;
  @include gradientBlue(-90deg);
  border: 1px solid transparent;
  border-radius: 24px;
  overflow: hidden;
  transition: all .3s ease-in;
}
.header__menuR:hover {
  background: #fff;
  border: 1px solid $mainColor;
  color: $mainColor;
}

.header__menuLink--contact {
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1;
  color: #fff;
  transition: all .3s ease-in;
}
.header__menuR:hover .header__menuLink--contact {
  color: $mainColor;
  opacity: 1;
  transform: scale(1.1) translateX(4px);
}




  //sp-menu
  .sp-menu {
    opacity: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    transition: background .5s ease-in-out;

    @include sp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    @include gradientBlue;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    overflow: hidden;
    }
  }
  .sp-menu__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  .sp-menu__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .sp-menu__link {
    display: inline-block;
    font-family: 'Open Sans';
    font-size: 3.6rem;
    font-weight: 300;
    color: #fff;
    @include sp {
      font-size: 2.4rem;
    }
  }
  .sp-menu__link--contact {
    position: relative;
    padding: 8px 24px;
    font-weight: 400;
    color: $mainColor;
    background-color: #fff;
    border-radius: 32.5px;
    box-sizing: border-box;
    @include gradientBlue;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .sp-menu__link--contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    border-radius: 32.5px;
  }
  
  .header.panelActive {
  
    .header__sp-menuBar:nth-child(1) {
      width: 80%;
      transform: rotate(45deg) translateY(0);
    }
    .header__sp-menuBar:nth-child(2) {
      width: 80%;
      transform: rotate(-45deg) translateY(0);
    }
    .sp-menu {
      pointer-events: auto;
      opacity: 1;
    }
  }


// パンくずリスト
.breadcrumbs {
  padding: 8px 0 4px 16px;
}
.breadcrumbs a {
  position: relative;
  transition: all .5s ease;
}
.breadcrumbs a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom:0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: $mainColor;
  transform: scale(0, 1);
  transform-origin: left;
  transition: transform .3s ease;
}
.breadcrumbs a:hover {
  color: $mainColor;
  opacity: 1;
}
.breadcrumbs a:hover::before {
  transform: scale(1, 1);
}