//page-archive
@use '../../util/index' as *;

.page-archive {
  @include bgGrid;
  position: relative;
  z-index: 0;
}

.archiveList__filterList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-bottom: 54px;
  @include sp {
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
  }
}

.archiveList__filterBtn {
  transition: background-color 0.5s ease;
}
.archiveList__filterBtn--all {
  display: inline-block;
  margin: 0 auto;
  padding: 8px;
  font-weight: bold;
  color: #fff;
  background-color: $black;
  border: 2px solid $black;
  border-radius: 4px;
}
.archiveList__filterBtn.c-categoryTag--website {
  border: 2px solid $mainColor;
}
.archiveList__filterBtn.c-categoryTag--lp {
  border: 2px solid $accentColor-pink;
}
.archiveList__filterBtn.c-categoryTag--banner {
  border: 2px solid $accentColor-yellow;
}

.archiveList__filterBtn--all:hover,
.archiveList__filterBtn--all.active {
  background-color: transparent;
  border: 2px solid $black;
  color: $black;

}
.archiveList__filterBtn.c-categoryTag--website:hover,
.archiveList__filterBtn.c-categoryTag--website.active {
  background-color: transparent;
  border: 2px solid $mainColor;
  color: $mainColor;
}
.archiveList__filterBtn.c-categoryTag--lp:hover,
.archiveList__filterBtn.c-categoryTag--lp.active {
  background-color: transparent;
  border: 2px solid $accentColor-pink;
  color: $accentColor-pink;
}
.archiveList__filterBtn.c-categoryTag--banner:hover,
.archiveList__filterBtn.c-categoryTag--banner.active {
  background-color: transparent;
  border: 2px solid $accentColor-yellow;
  color: #e8ac2c;
}



.archiveList__filterBtn.c-categoryTag--website.active {
  background-color: transparent;
  border: 2px solid $mainColor;
  color: $black;
}
.archiveList__filterBtn.c-categoryTag--lp.active {
  background-color: transparent;
  border: 2px solid $accentColor-pink;
  color: $black;
}
.archiveList__filterBtn.c-categoryTag--banner.active {
  background-color: transparent;
  border: 2px solid $accentColor-yellow;
  color: $black;
}



.archiveList__itemList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  transition: all 0.5s ease;
  @media screen and (max-width: 600px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }
}

.archiveList__cardItem {
  opacity: 1;
  transform: scale(1);
  transition: opacity 0.5s ease, transform 0.5s ease, margin 0.5s ease;
}

.archiveList__cardItem.hidden {
  opacity: 0;
  transform: scale(0.8);
  pointer-events: none;
  margin: 0;
  transition: opacity 0.5s ease, transform 0.5s ease, margin 0.5s ease;
}

//ページネーション
.nav-links {
  margin-top: 48px;
  text-align: center;
  color: $black;
}

.nav-links .prev,
.nav-links .next {
  color: $mainColor;
}
.nav-links .prev::after,
.nav-links .next::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  width: 30px;
  height: 30px;
  transform: translateX(-50%, -50%);
  transform-origin: center;
  background-color: $mainColor;
  border-radius: 41% 59% 43% 57% / 52% 30% 70% 48%;
  z-index: -1;
}

.nav-links .prev:hover,
.nav-links .next:hover {
  color: #fff;
  opacity: 1;
}
.nav-links .prev:hover::after,
.nav-links .next:hover::after {
  display: block;
}

//prevの動き
.nav-links .prev:hover i {
  animation: toLeft 1.5s linear infinite;
}
@keyframes toLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  25% {
    transform: translateX(-60%);
    opacity: 1;
  }
  50% {
    transform: translateX(-70%);
    opacity: 1;
  }
  75% {
    transform: translateX(-80%);
    opacity: 1;
  }
  100% {
    transform: translateX(-90%);
    opacity: 0;
  }
}
.nav-links .prev:hover::after {
  animation: rollToLeft 1.5s linear infinite;
}
@keyframes rollToLeft {
  0% {
    transform: translate(-50%, -50%) rotate(72deg);
    opacity: 0;
  }
  25% {
    transform: translate(-60%, -50%) rotate(144deg);
    opacity: 1;
  }
  50% {
    transform: translate(-70%, -50%) rotate(216deg);
    opacity: 1;
  }
  75% {
    transform: translate(-80%, -50%) rotate(288deg);
    opacity: 1;
  }
  100% {
    transform: translate(-90%, -50%) rotate(360deg);
    opacity: 0;
  }
}

//nextの動き
.nav-links .next:hover i {
  animation: toRight 2s linear infinite;
}
@keyframes toRight {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  25% {
    transform: translateX(-40%);
    opacity: 1;
  }
  50% {
    transform: translateX(-30%);
    opacity: 1;
  }
  75% {
    transform: translateX(-20%);
    opacity: 1;
  }
  100% {
    transform: translateX(-10%);
    opacity: 0;
  }
}
.nav-links .next:hover::after {
  animation: rollToRight 2s linear infinite;
}
@keyframes rollToRight {
  0% {
    transform: translate(-70%, -50%) rotate(72deg);
    opacity: 0;
  }
  25% {
    transform: translate(-60%, -50%) rotate(144deg);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) rotate(216deg);
    opacity: 1;
  }
  75% {
    transform: translate(-45%, -50%) rotate(288deg);
    opacity: 1;
  }
  100% {
    transform: translate(-40%, -50%) rotate(360deg);
    opacity: 0;
  }
}


.page-numbers {
  margin: 0 16px;
  position: relative;
  font-size: 2rem;
  font-family: 'Open Sans';
  transition: all 1.5s ease;
  @media screen and (max-width: 600px) {
    margin: 0 8px;
  }
}
.page-numbers:hover {
  font-weight: bold;
  color: $mainColor;
  opacity: 1;
}
.page-numbers.current {
  color: #fff;
  font-weight: 500;
  background-color: $mainColor;
}

.page-numbers::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  display: none;
  width: 30px;
  height: 30px;
  transform: translateX(-50%);
  background-color: $mainColor;
  border-radius: 41% 59% 43% 57% / 52% 30% 70% 48%;
  z-index: -1;
}
.page-numbers.current::after {
  display: block;
}