//works
@use '../../util/index' as *;

.page-contact {
  @include bgDotted;
}

.contact__messageWrap {
  margin: 56px auto 0;
  text-align: center;
}

.contact__message {
  display: inline-block;
  padding: 80px 40px;
  line-height: 1.6;
  background-color: #f5f5f5;
  border-radius: 57% 43% 49% 51% / 52% 56% 44% 48% ;
  @include sp {
    padding: 56px 16px;
    font-size: 1.4rem;

  }
}

.wpcf7-form {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 700px;
  margin: 96px auto 0;
  @include sp {
    margin: 40px auto 0;
    flex-direction: column;
  }
}
.wpcf7__label {
  display: flex;
  align-items: center;
  gap: 24px;
  @include sp {
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
  }
}
.wpcf7__labelArea {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  width: 176px;
  @include sp {
    justify-content: flex-start;
  }
}
.wpcf7__labelName {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 2.4rem;
  @include sp {
    font-size: 1.6rem;
    text-align: left;
  }
}
.wpcf7__required {
  display: inline-block;
  font-size: 1.6rem;
  padding: 2px 8px;
  background-color: $accentColor-yellow;
  @include sp {
    font-size: 1.2rem;
  }
}

.wpcf7__label--textbox .wpcf7__labelArea{
  align-items: flex-start;
  margin-top: 4px;
}

.wpcf7-form-control-wrap {
  flex: 1;
  max-width: 400px;
  @include sp {
    width: 100%;
  }
}
.wpcf7__label input,
.wpcf7__label select,
.wpcf7__label textarea {
  flex: 1;
  max-width: 400px;
  width: 100%;
  padding: 8px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  @include sp {
    width: 100%;
  }
}
.wpcf7 select[name="select-449"] {
  min-width: 200px !important;
}
.wpcf7__label select option {
  color: $black;
}
.wpc7__label--select {
  position: relative;
  width: 100%;
  max-width: 400px;
}
.wpc7__label--select::after {
  content: "\f107";
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  font: var(--fa-font-solid);
  font-size: 1.6rem;
  color: $black;
  pointer-events: none;
}

.wpcf7__label--detail {
  align-items: flex-start;
}
.wpcf7__label--detail textarea {
  height: 160px;
}
.wpcf7__label--detail .wpcf7__labelArea {
  margin-top: 8px;
}

.wpcf7-not-valid-tip {
  position: absolute;
  bottom: -1.5em;
  left: 0;
}

.wpcf7__consent {
  margin: 32px auto;
  text-align: center;
  @include sp {
    font-size: 1.4rem;
  }
}
.wpcf7__consent .wpcf7-list-item {
  margin: 0;
}

.wpcf7__btn {
  position: relative;
  display: inline-block;
  margin: 0 auto;;
}
.wpcf7__btn.c-btn::after {
  margin-top: 0;
}
.wpcf7__btn input {
  color: #fff;
  transition: color .5s ease;
}
.wpcf7__btn:hover input {
  color: $mainColor;
}
.wpcf7-spinner {
  position: absolute !important;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}