//top-works
@use '../../util/index' as *;

.top-contact {
  @include gradientGray;
}

.top-contact__contentWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  @include sp {
    flex-direction: column;
    gap: 24px;
  }
}
.top-contact__image {
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 200px;
  min-width: 150px;
  height: auto;
  overflow: hidden;
}
.top-contact__image > img {
  width: 100%;
  height: auto;
}
.top-contact__image--sp {
  transition-delay: .5s;
  @include sp {
    width: 140px;
  }
}
.top-contact__image--pc {
  transition-delay: 1s;
}


.top-contact__message {
  flex-shrink: 0;
  width: auto;
  max-width: 100%;
  font-size: clamp(1.6rem, 2.2vw, 2rem);
  line-height: 1.75;
  text-align: center;
  @include sp {
    font-size: 1.6rem;
  }
}