//top-works
@use '../../util/index' as *;

.top-about {
  @include bgGrid;
}

.top-about__contentWrap {
  display: flex;
  align-items: flex-start;
  gap: 32px;
  margin: 0 32px;
  overflow: hidden;
  @include sp {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
}

.top-about__image {
  width: clamp(160px, 24vw, 300px);
  height: auto;
  border-radius: 50%;
}


.top-about__image > img {
  width: 100%;
  height: auto;
}

.top-about__commentWrap {
  position: relative;
  flex: 1;
  padding: 24px;
  background-color: #fff;
  border-radius: 20px;
  @include boxShadow;
  opacity: 0;
  transform: translateX(50px);
  transition-delay: .5s;
  overflow: hidden;;
}

.top-about__comment {
  margin-bottom: 1em;
  font-size: 1.4rem;
  line-height: 1.7;
}
.top-about__comment.animeTrigger {
  animation-delay: 2s;
}

.top-about__sns {
  position: absolute;
  bottom: 8px;
  right: 16px;
}
.top-about__sns .c-sns__snsLink > i {
  font-size: 2.4rem;
  color: $black;
}