//top-works
@use '../../util/index' as *;

.top-works {
  @include bgGrid;
}

//splide -pagination-
.top-works {

  .splide__slide {
    height: fit-content;
    max-width: 1080px;
  }
  .splide__list {
    height: auto;
  }
  .splide__slide > a {
    margin: 0 auto;
    opacity: .5;
    transition: transform .2s ease-in;
    transform: scale(.9);
  }
  .splide__slide.is-active > a {
    opacity: 1;
    transform: scale(.95);
    @include sp {
      transform: scale(.95);
    }
  }



  .splide__pagination  {
    bottom: -16px;;
  }

  .splide__pagination__page {
    background-color: $gray;
    width: 10px;
    height: 10px;
    margin: 0 8px;
  }

  .splide__pagination__page.is-active {
    background-color: $mainColor;
    transform: scale(1.4);
  }

  .splide__arrow {
    opacity: 1;
    background-color: transparent;
    transition: all .3s ease;
  }
  .splide__arrow > i {
    font-size: 3.2rem;
    color: $mainColor;
    background-color: #fff;
    border-radius: 50%;
  }
  .splide__arrow--prev {
    left: 0;
  }
  .splide__arrow--prev:hover {
    transform: translate(-8px, -50%);
  }
  .splide__arrow--next {
    right: 0;
  }
  .splide__arrow--next:hover {
    transform: translate(8px, -50%);
  }
  .button:disabled::before {
    background-color: #ccc;
  }
  .top-works__btnWrap {
    margin-top: 84px;
  }
}



