//top-service
@use '../../util/index' as *;

.top-service {
  position: relative;
  overflow-x: clip;
  @include gradientGray;
}

.top-service::before,
.top-service::after {
  position: absolute;
  width: 500px;
  height: 500px;
  z-index: 0;
  @include sp {
    width: 300px;
    height: 300px;
  }
}
.top-service::before {
  content: "";
  display: block;
  top: -100px;
  right: -200px;
  background-color: $bgColor-yellow;
  border-radius: 56% 37% 40% 43% / 53% 55% 39% 47%;
  @include sp {
    top: -60px;
    right: -140px;
  }
}
.top-service::after {
  content: "";
  display: block;
  bottom: -100px;
  left: -200px;
  background-color: $bgColor-blue;
  border-radius: 56% 37% 40% 43% / 53% 55% 39% 47%;
  @include sp {
    bottom: -40px;
    left: -140px;
  }
}

.top-service__itemWrap {
  position: relative;
  margin: 0 16px;
  z-index: 1;
  @include sp {
    margin: 0;
  }
}

.top-service__listItem {
  display: flex;
  align-items: center;
  gap: 36px;
  margin: 32px auto 0;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 6px 4px 0 0 $subColor, 0 0 5px 0 rgba(0, 0, 0, .1);
  overflow: hidden;
  @include sp {
    flex-direction: column;
    align-items: center;
    max-width: 500px;
  }
}

.top-service__listItem:nth-child(even) {
  flex-direction: row-reverse;
  @include sp {
    flex-direction: column;
  }
}

.top-service__itemImage > img {
  width: clamp(180px, 25vw, 250px);
  height: auto;
}

.top-service__textArea {
  flex: 1;
}

.top-service__itemTitle {
  font-size: 2.4rem;
  letter-spacing: 0.1em;
  @include sp {
    text-align: center;
  }
}

.top-service__itemDesc {
  margin-top: 24px;
  padding: 16px;
  line-height: 1.5;
  background-color: #F1F4F9;
  border-radius: 5px;
}

.top-service__usedTool {
  position: relative;
  text-align: center;
  margin-top: 54px;
  z-index: 1;
}




.top-service__usedToolTitle {
  font-size: 2rem;
  font-weight: 400;
}

.top-service__toolList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
  margin-top: 16px;
}



